/* Importer les directives Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.min.css';

.no-scroll {
    overflow: hidden;
    height: 100vh;
    /* Empêche le défilement tant que les images ne sont pas chargées */
    position: fixed;
    /* Garde la page en place */
}